<div class="page-header">
<h1>Bulk format MAC addresses</h1>
</div>
<% # form which accepts MAC addresses to be reformatted %>
<p> Enter MAC addresses (one per line) in any format to convert to the format(s) of your choice</p>
<%= form_tag(root_path, method: "get") do %>
  <div class="form-group">
    <%= text_area_tag(:message, params[:message], 
                      class:"form-control input-lg font-monospace", rows: 5, 
                      placeholder:"aa:bb:cc:dd:ee:ff") %>
    <br />
    <%= submit_tag("Format", class: "btn btn-lg btn-default") %>
  </div>
<% end %>
<% # table which displays requested MAC addresses in multiple formats
unless @mac_addresses.nil? || @mac_addresses.empty? %>
  <table class="table table-striped table-condensed font-monospace">
    <tr>
      <th>Input</th>
      <th>mmmmmmssssss</th>
      <th>MM:MM:MM:SS:SS:SS</th>
      <th>MM-MM-MM-SS-SS-SS</th>
      <th>MMMM.MMSS.SSSS</th>
    </tr>
<%  @mac_addresses.each do |mac_address|
      if mac_address.valid_mac?
        mac_address_base = mac_address.to_mac
        mac_address_colon = mac_address_base.scan(/\w{2}/).join(':')
        mac_address_dash = mac_address_base.scan(/\w{2}/).join('-')
        mac_address_dot = mac_address_base.scan(/\w{4}/).join('.')
        %> <tr> <%
      else
        mac_address_base = "invalid input"
        mac_address_colon = "invalid input"
        mac_address_dash = "invalid input"
        mac_address_dot = "invalid input"
        %> <tr class="warning"> <%
      end %>
        <td><%= mac_address %></td>
        <td><%= mac_address_base %></td>
        <td><%= mac_address_colon %></td>
        <td><%= mac_address_dash %></td>
        <td><%= mac_address_dot %></td>
      </tr>
 <% end 
end %>
</table>
